.car-management-page {
  margin: 0 auto;
  padding: 60px;
}

.search-container {
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1f1d1d;
  margin-bottom: 30px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-style: oblique;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: 1px solid rgba(97, 94, 94, 0.5);
  background-color: #636161;
  margin-bottom: 20px;
  color: rgb(247, 245, 245);
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #474545;
  color: rgb(247, 245, 245);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5c4a54;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #1f1d1d;
  color: rgb(175, 32, 32);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.card-text {
  color: #bbbbbb;
  text-transform: uppercase;
}
