
.create-event-container label {
  display: block;
  margin-bottom: 5px; 
}


.form-container {
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #383737;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}


input[type="text"],
input[type="date"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-style: oblique;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: 1px solid rgba(97, 94, 94, 0.5);
  box-sizing: border-box;
  margin-bottom: 50px;
}


.small-input {
  width: 250px;
  padding: 10px;
  font-size: 15px;
  font-style: oblique;
  border-radius: 5px;
  border: 1px solid rgba(97, 94, 94, 0.5);
  margin-bottom: 20px;
  box-sizing: border-box;
}


button {
  width: 100%;
  padding: 10px;
  font-size: 26px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #474545;
  color: rgb(247, 245, 245);
}

button[type="submit"]:hover {
  background-color: #5c4a54;}


input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-style: oblique;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: 1px solid rgba(97, 94, 94, 0.5);
  box-sizing: border-box;
  margin-bottom: 50px;
}


.small-input {
  width: 250px;
  padding: 10px;
  font-size: 15px;
  font-style: oblique;
  border-radius: 5px;
  border: 1px solid rgba(97, 94, 94, 0.5);
  margin-bottom: 20px;
  box-sizing: border-box;
}
