<div class="event-signup-page">
  <h2>Event Details</h2>
  <hr>

  <div *ngIf="event">
    <div class="card" style="width: 18rem;">
      <img [src]="getRandomImage()" class="card-img-top" alt="Event Image">
      <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Location: {{ event.location }}</li>
          <li class="list-group-item">Date: {{ event.date | date }}</li>
          <li class="list-group-item">Description: {{ event.description }}</li>
          <li class="list-group-item">Capacity: {{ event.capacity }}</li>
        </ul>
        <button (click)="signUpForEvent(event.eventId)" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>