<nav class="top-navbar">
  <a routerLink="/event-list" class="home-button">
    The Car Lounge
  </a>
  <ul>
    <li>
      <app-auth-button></app-auth-button>
    </li>
  </ul>
</nav>

<div class="container">
  <nav class="sidebar">
    <h2>Event Options</h2>
    <button (click)="navigateTo('event-list')">Browse All Events</button>
    <button (click)="navigateTo('create-event')">Create Event</button>
    <button (click)="navigateTo('manage-event')">Search Events by Car</button>
    <button (click)="navigateTo('sign-up')">My Events</button>

    <h2>Car Options</h2>
    <button (click)="navigateTo('car-details')">Browse all Cars</button>
    <button (click)="navigateTo('add-car')">Add a Car</button>
    <button (click)="navigateTo('manage-car')">Manage Car</button>
    <button (click)="navigateTo('browse-makes')">Lounge Car Brands</button>
  </nav>

  <main>
    <div *ngIf="!isChildRoute; else childContent">
      <h2>Welcome to the Car Lounge</h2>
      <p>Select an option from the sidebar to get started!</p>
    </div>
    <ng-template #childContent>
      <router-outlet></router-outlet>
    </ng-template>
  </main>
</div>
