<nav class="top-navbar">
  <ul>

        <!-- Commented out section below for now, considering its not used. We can reuse later if need be. -->
    <!-- <li class="dropdown">
      <button (click)="toggleDropdown()" class="dropdown-toggle">Services</button>
      <ul class="dropdown-menu" *ngIf="isDropdownOpen">
        <li><button (click)="navigateTo('service1')">Service 1</button></li>
        <li><button (click)="navigateTo('service2')">Service 2</button></li>
        <li><button (click)="navigateTo('service3')">Service 3</button></li>
      </ul>
    </li>
    <li class="search-container">
      <input type="text" placeholder="Search..." class="search-input">
      <button class="search-button">Search</button>
    </li> -->
    <li>
      <app-auth-button></app-auth-button>
    </li>
  </ul>
</nav>

<div class="container">
  <nav class="sidebar">
    <pre>

    </pre>
    <h2>Event Options</h2>
    <!-- Cleaned up the first section, components and such will still need to be added here -->
    <button (click)="navigateTo('event-list')">Home</button> <!-- Freddie this is what you have to work on and show. -->
    <button (click)="navigateTo('create-event')">Create Event</button> <!-- This is what I cannot get to work, will have to bug Jonathan about it tomorrow. -->
    <button (click)="navigateTo('manage-event')">Search Events by Car</button> <!-- This this works! -->
    <button (click)="navigateTo('sign-up')">My Events</button> <!-- This is currently hardcoded for the user, I found some Slack Overflow example and commented it out in the SignUpComponent -->

    <pre>

    </pre>
    <h2>Car Options</h2>

<!-- Created a section to intergrat our car third party and internal CAR API. Buttons are junk, we can adjust routing after comonents are created. -->
    <button (click)="navigateTo('car-details')">Browse all Cars</button>  <!-- Needs a component created along with applicable HTML and CSS -->
    <button (click)="navigateTo('create-event')">Add a Car</button> <!-- Needs a component created along with applicable HTML and CSS -->
    <button (click)="navigateTo('create-event')">Update Car</button> <!-- Needs a component created along with applicable HTML and CSS -->
    <button (click)="navigateTo('create-event')">Add Car Makes</button> <!-- Needs a component created along with applicable HTML and CSS -->
    <button (click)="navigateTo('create-event')">Browse Car Brands</button> <!-- Needs a component created along with applicable HTML and CSS -->


  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>

